{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}
{% load widget_tweaks %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="content">

    <!-- First row of cards -->
    <div class="row">
        {% if is_manager or is_control_room_operator %}
        <!-- Task Assignment Card -->
        <div class="col-lg-6 col-md-6">
            {% if is_manager or is_control_room_operator %}
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title">Assign New Task</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.title.id_for_label }}">Title:</label>
                            {{ form.title|add_class:"form-control" }} <!-- Apply form-control class -->
                        </div>
                        <div class="form-group">
                            <label for="{{ form.description.id_for_label }}">Description:</label>
                            {{ form.description|add_class:"form-control" }} <!-- Apply form-control class -->
                        </div>
                        <div class="form-group">
                            <label for="{{ form.assigned_to.id_for_label }}">Assigned to:</label>
                            {{ form.assigned_to|add_class:"form-control" }}<!-- Apply form-control class -->
                        </div>
                        <button type="submit" class="btn btn-primary">Assign Task</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}

        <!-- Recent Notifications Card -->
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-header bg-warning text-white">
                    <h5 class="card-title">Recent Notifications</h5>
                </div>
                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <!-- Notifications should be dynamically generated here -->
                        {% for notification in notifications %}
                        <li class="list-group-item">
                            {{ notification.class }}
                            <span class="badge badge-pill badge-primary float-right">
                                {{ notification.timestamp }}
                            </span>
                        </li>
                        {% empty %}
                        <li class="list-group-item">No new.</li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>

    <!-- Second row of cards -->
    <div class="row">
        <!-- Project Tasks Card -->
        <div class="col-lg-6 col-md-6">
            <!-- Project Tasks Card -->
            <div class="card card-tasks">
                <div class="card-header">
                    <h6 class="title d-inline">Project Tasks ({{ tasks.count }})</h6>
                    <!-- Additional info for managers -->
                </div>
                <div class="card-body">
                    <div class="table-full-width table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Description</th>
                                    <th>Assigned To</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                <tr>
                                    <td>{{ task.title }}</td>
                                    <td>{{ task.description }}</td>
                                    <td>
                                        {% for user in task.assigned_to.all %}
                                        <div>
                                            {{ user.username }}
                                            {% if user.groups.exists %}
                                            -
                                            {% for group in user.groups.all %}
                                            {{ group.name }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            {% else %}
                                            - No Role Assigned
                                            {% endif %}
                                        </div>
                                        {% empty %}
                                        <div>Unassigned</div>
                                        {% endfor %}
                                    </td>

                                    <!-- Actions buttons - Start Mission and Delete Task and Pause Mission -->
                                    <td class="td-actions text-right">
                                        <div class="d-inline-flex">
                                            {% if is_drone_operator %} <!-- Check if the user is a drone operator -->

                                            <!-- Start Mission Form -->
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="action" value="start_mission">
                                                <input type="hidden" name="task_id" value="{{ task.id }}">
                                                <button type="submit" rel="tooltip" title="Start Mission"
                                                    class="btn btn-success btn-simple btn-icon"
                                                    style="min-width: 120px;">
                                                    Start Mission
                                                </button>
                                            </form>
                                            {% endif %}

                                            <!-- Pause Mission Form -->
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="action" value="stop_mission">
                                                <input type="hidden" name="task_id" value="{{ task.id }}">
                                                <button type="submit" rel="tooltip" title="Stop Mission" class="btn btn-warning btn-simple btn-icon">
                                                    <i class="fa fa-pause"></i> <!-- Font Awesome pause icon -->
                                                </button>
                                            </form>

                                            <!-- Delete Task Form -->
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="action" value="delete_task">
                                                <input type="hidden" name="task_id" value="{{ task.id }}">
                                                <button type="submit" rel="tooltip" title="Delete Task"
                                                    class="btn btn-danger btn-simple btn-icon">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </form>



                                        </div>
                                    </td>

                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No tasks assigned.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Status Card -->
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h5 class="card-title ">Project Status</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Tasks</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <tr>
                                    <td>{{ project.title }}</td>
                                    <td>{{ project.tasks.count }}</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar"
                                                style="width: {{ project.get_progress }}%"
                                                aria-valuenow="{{ project.get_progress }}" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3">No projects available.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{#<script src="{% static 'path/to/jquery.js' %}"></script>#}
{#<script src="{% static 'path/to/bootstrap-select.js' %}"></script>#}
<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

{% endblock javascripts %}
