{% extends "layouts/base.html" %}

{% block title %}User Profile{% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                        <div class="author">
                            <a href="#">
                                {% if user.custom_avatar %}
                                <img class="avatar border-gray" src="{{ user.custom_avatar.url }}" alt="...">
                                {% else %}
                                <img class="avatar border-gray" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="...">
                                {% endif %}
                                <h5 class="title">{{ user.get_full_name }}</h5>
                            </a>
                            <p class="description">
                                @{{ user.username }}
                            </p>
                        </div>
                    </p>
                    <div class="card-description">
                        <strong>Email:</strong> {{ user.email }}<br>
                        <strong>Role:</strong> {{ user.get_role_display }}<br>
                        <!-- Additional details you might want to display -->
                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <a href="#" class="btn btn-icon btn-round btn-facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" class="btn btn-icon btn-round btn-twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-icon btn-round btn-google">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
